* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
}

body {
  background: var(--background) no-repeat center/cover;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.image {
  height: 100vh;
  background: url(./images/side-image.jpg) no-repeat right/cover;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header img {
  position: fixed;
  top: 36px;
  left: 36px;
}

form {
  padding: 55px 110px;
  width: 543.4px;
  height: 486.4px;
  border-radius: 5px;
  background-color: var(--form-background);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.login {
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.login div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.login div h1 {
  font: normal 600 1.5rem var(--font-poppins);
  color: var(--text-title);
}

.login p {
  font: normal 500 1rem var(--font-roboto);
  color: var(--text-base);
}

.input {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
}

.input label {
  font: normal 500 1rem var(--font-poppins);
  color: var(--text-base);
}

.input input {
  border: none;
  outline: none;
  background: none;
  width: 100%;

  font: normal 400 0.875rem var(--font-roboto);
  color: var(--text-base);
}

.email:focus-within,
.password:focus-within {
  border-color: var(--primary-color);
}

.email {
  width: 100%;
  height: 44px;
  padding: 8px 10px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  border-radius: 4px;
  border: 2px solid var(--text-base);
}

.password {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 4px;
  border: 2px solid var(--text-base);

  width: 100%;
  height: 44px;
  padding: 8px 10px;
}

.password div {
  display: flex;
  gap: 10px;
}

.help {
  display: flex;
  justify-content: space-between;
}

.help div {
  display: flex;
  align-items: center;
  gap: 3px;
}

.help div label {
  font: normal 500 1rem var(--font-roboto);
  color: var(--text-base);
}

.help div p.recover {
  font: normal 600 0.875rem var(--font-poppins);
  color: var(--primary-color);
  cursor: pointer;
}


form button {
  width: 321px;
  padding: 12px 36px;
  background-color: var(--primary-color);
  border: 0;
  border-radius: 5px;
  font: normal 600 1.125rem var(--font-poppins);
  color: #473404;
  text-transform: uppercase;
  cursor: pointer;
}

.register {
  font: normal 400 0.875rem var(--font-poppins);
  color: var(--primary-color);
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 880px) {
  .image {
    display: none;
  }

  .gridContainer {
    grid-template-columns: 100%;
  }

  form {
    margin-top: 30px;
    background-color: var(--background);
  }
}